
@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
   --background-cases: #122d25d0;
   --border-inputs: #0a639e;
   --number3: #ff7927;
   --number4: #ffef60;
   --white-cool: #fffbd7;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
    font-family: 'Allerta', sans-serif;
}

#root{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}
body{
    /* background:url('./assets/astrologia.png') no-repeat center; */
    background-color: rgba(81, 73, 102, 0.849);
    display: flex;
    flex-direction: column;
}
form{
    background-color: var(--background-cases);
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: white;
    font-size: 28px;
    text-align: center;
    padding: 24px;
    border-radius: 15px;
    /* position: fixed; */
}

.box_information{

    display: flex;
    width: 60vw;
    flex-direction: column;
    gap: 8px;
    color: var(--white-cool);
    font-size: 20px;
    text-align: center;
    background-color: var(--background-cases);
    border-radius: 15px;
    padding: 20px;  
    font-family: 'Righteous', cursive;

}
.box_information h1{
    color: white;
}


input, select{
    color: var(--background-cases);
    font-weight: bold;
    background-color: var(--white-cool);
    width: 250px;
    height: 36px;
    padding: 8px;
    border: 1px solid white;
    border-radius: 5px;
}

textarea{
    margin-top: 4px;
    color: var(--background-cases);
    width: 300px;
    height: 80px;
    font-weight: bold;
    background-color:var(--white-cool);
    padding: 8px;
    border-radius: 5px;


}
label{
    margin-bottom: 12px;
    color: white;
}

button{
    width: 250px;
    height: 32px;
    background-color: black;
    color:var(--number4);
    box-shadow: 0px 0px 10px 2px var(--number4);
    border: none;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.5s;
    align-self: center;
}
button:hover{
    transition: all 0.5s;
    background-color:var(--number4);
    color: black;
    box-shadow: 0px 0px 10px 3px black;
    animation: tembloroso .5s infinite;
}


.color{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid grey;
    justify-self: end;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.colorAdaptative{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.background1{
    background: url('./assets/astrologia.png');
    width: 512px;
    animation: rotationall 10s infinite;
    position: fixed;
    justify-self: center;
    align-self: center; 
    z-index: -1;
    height: 512px;
    
}

@keyframes rotationall {
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(360deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}

@keyframes tembloroso {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0px);
    }
}

@media (max-width:1500px) {

    .box_information{
        width: 90vw;
        margin-top: 50vw;
    }
}